.prouct_rating{
    display:flex
}

.product{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    max-height: 400px;
    min-width: 100px;
    margin: 10px;
    padding: 20px;
    width:100%;
    z-index: 1;
    background-color: white;
}

.product > img{
    max-height: 300px;
    width: 200px;
    margin-bottom: 15px;
    object-fit: contain;
}

/* .forImg{
    display: flex;
} */

.product_price{
    margin-top: 5px;
}

.product_info{
    height: 100px;
    margin-bottom: 15px;
}

.product>button {
    background-color: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 5px;
}